/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-size: 3.998rem;
  padding-bottom: 3rem; }

h2 {
  font-size: 2.827rem;
  padding-bottom: 2rem; }

h3 {
  font-size: 1.999rem;
  padding-bottom: 1rem; }

h4 {
  font-size: 1.414rem;
  padding-bottom: 1rem; }

h5 {
  font-size: 1rem;
  padding-bottom: 0.8rem; }

h6 {
  font-size: 0.707rem;
  padding-bottom: 0.5rem; }

h1, h2, h3, h4, h5, h6 {
  font: helvetica, sans-serif; }

.helvetica {
  font-family: helvetica, sans-serif; }
  .helvetica-italic {
    font-style: italic; }
  .helvetica-bold {
    font-weight: bold; }

.openSans {
  font-family: 'Open Sans', sans-serif; }
  .openSans-italic {
    font-style: italic; }
  .openSans-bold {
    font-weight: bold; }

.title {
  font-size: 3rem;
  padding: 2rem 0; }

.sub-title {
  font-size: 1.6rem;
  padding-top: 1.6rem;
  padding-bottom: 1rem; }

html {
  margin: 20px 20px; }

.center {
  text-align: center; }

.goback {
  text-align: right;
  display: block;
  right: 1rem;
  position: fixed; }

html {
  font-size: 16px;
  font-family: helvetica, sans-serif, 'Open Sans', sans-serif; }

.primary-color {
  color: helvetica, sans-serif; }

.secondary-color {
  color: #a6a271; }

.tertiary-color {
  color: #ed5642; }

.quarternary-color {
  color: #aacaf1; }

.quinary-color {
  color: #eae49f; }

.sg-swatch {
  width: 100%;
  height: 4em;
  margin-bottom: 0.2em;
  background-color: #363535; }

.sg-label {
  line-height: 1; }

img {
  display: block;
  background-color: #d2d2d2; }

.square {
  width: 37.5rem;
  height: 37.5rem; }

.landscape4x3 {
  width: 37.5rem;
  height: 28.125rem; }

.landscape16x9 {
  width: 80rem;
  height: 45rem; }
