h1 {
  font-size: 3.998rem;
  padding-bottom: 3rem; }

h2 {
  font-size: 2.827rem;
  padding-bottom: 2rem; }

h3 {
  font-size: 1.999rem;
  padding-bottom: 1rem; }

h4 {
  font-size: 1.414rem;
  padding-bottom: 1rem; }

h5 {
  font-size: 1rem;
  padding-bottom: 0.8rem; }

h6 {
  font-size: 0.707rem;
  padding-bottom: 0.5rem; }

h1, h2, h3, h4, h5, h6 {
  font: helvetica, sans-serif;
  text-decoration: none; }

a {
  text-decoration: none; }

.helvetica {
  font-family: helvetica, sans-serif; }
  .helvetica-italic {
    font-style: italic; }
  .helvetica-bold {
    font-weight: bold; }

.openSans {
  font-family: 'Open Sans', sans-serif; }
  .openSans-italic {
    font-style: italic; }
  .openSans-bold {
    font-weight: bold; }

.title {
  font-size: 3rem;
  padding: 2rem 0; }

.sub-title {
  font-size: 1.6rem;
  padding-top: 1.6rem;
  padding-bottom: 0.5rem; }

.list {
  font-size: 4rem;
  margin: 1rem; }

.index {
  font-size: 2rem;
  text-align: left;
  height: 3rem; }

html {
  margin: 20px 20px; }

.center {
  text-align: center; }

.goback {
  text-align: right;
  display: block;
  right: 1rem;
  position: fixed; }

.sg-colors {
  border: 4em;
  text-align: center;
  border-top: 3em; }

.sg-label {
  line-height: 1; }

.sg-head {
  border-bottom: 1px solid black;
  margin-bottom: 1em;
  text-align: left; }

html {
  font-size: 16px;
  font-family: helvetica, sans-serif, 'Open Sans', sans-serif;
  text-decoration: none; }

.primary-color {
  background-color: #363535;
  color: white; }

.secondary-color {
  background-color: #a6a271; }

.tertiary-color {
  background-color: #ed5642; }

.quarternary-color {
  background-color: #aacaf1; }

.quinary-color {
  background-color: #eae49f; }

.sg-swatch {
  float: left;
  width: 10em;
  height: 9em;
  margin-bottom: 0.2em;
  margin-left: 1em; }

img {
  display: block;
  background-color: #d2d2d2; }

.square {
  width: 37.5rem;
  height: 37.5rem; }

.landscape4x3 {
  width: 37.5rem;
  height: 28.125rem; }

.landscape16x9 {
  width: 80rem;
  height: 45rem; }
