extends layout

block content
  h1 Checklists &amp; Radio Buttons
  p Radio Buttons:
    br
    br
    input(name="radio" type="radio" class="radio")
    Tick Content
    br
    input(name="radio" type="radio" class="radio")
    Tick Content
    br
    input(name="radio" type="radio" class="radio")
    Tick Content
    br
    input(name="radio" type="radio" class="radio")
    Tick Content
    br


  p Checklist:
    br
    br
    input(type="checkbox")
    Tick Content
    br
    input(type="checkbox")
    Tick Content
    br
    input(type="checkbox")
    Tick Content
    br
    input(type="checkbox")
    Tick Content
    br

  hr

  pre Radio Buttons Code:
    br
    <pre>input(name="radio" type="radio" class="radio")
    br
    <pre>Tick Content

  hr

  pre Checklist Code:
    br
    <pre>input(type="checkbox")
    br
    <pre>Tick Content


