extends layout

block content
  a.goback(href="/") Go Back
  h1 Checklists &amp; Radio Buttons
  h2.sub-title Radio Buttons:
    br
    input(name="radio" type="radio" class="radio")
    Tick Content
    br
    input(name="radio" type="radio" class="radio")
    Tick Content
    br
    input(name="radio" type="radio" class="radio")
    Tick Content
    br
    input(name="radio" type="radio" class="radio")
    Tick Content
    br


  h2.sub-title Checklist:
    br
    input(type="checkbox")
    Tick.sub-title Content
    br
    input(type="checkbox")
    Tick.sub-title Content
    br
    input(type="checkbox")
    Tick.sub-title Content
    br
    input(type="checkbox")
    Tick.sub-title Content
    br

  hr

  h2.sub-title Radio Buttons Code-Jade:
    br
    <pre>input(name="radio" type="radio" class="radio")
    br
    <pre>Tick Content

  hr

  h2.sub-title Checklist Code-Jade:
    br
    <pre>input(type="checkbox")
    br
    <pre>Tick Contents


