extends layout

block content
  a.goback(href="/") Go Back
  h1.sg-head Checklists &amp; Radio Buttons
  h3 Radio Buttons
  div.text
    br
    input(name="radio" type="radio" class="radio")
    Tick Content
    br
    input(name="radio" type="radio" class="radio")
    Tick Content
    br
    input(name="radio" type="radio" class="radio")
    Tick Content
    br
    input(name="radio" type="radio" class="radio")
    Tick Content
    br


  h3 Checklist
  div.text

    input(type="checkbox")
    Tick Content
    br
    input(type="checkbox")
    Tick Content
    br
    input(type="checkbox")
    TickContent Content
    br
    input(type="checkbox")
    Tick Content
    br



  h3 Radio Buttons Code - Jade
  div.text.jade

    <pre>input(name="radio" type="radio" class="radio")
    br
    <pre>Tick Content



  h3 Checklist Code - Jade
  div.text.jade
    br
    <pre>input(type="checkbox")
    br
    <pre>Tick Contents


