extends layout

block content

  h1.sg-head Colors
  ul.sg-colors
    li.sg-swatch.primary-color<br><br><br><br>#363535<br> Primary Color
    li.sg-swatch.secondary-color<br><br><br><br>  #a6a271 <br>Secondary Color
    li.sg-swatch.tertiary-color<br><br><br><br>  #ed5642 <br> Tertiary Color
    li.sg-swatch.quarternary-color<br><br><br><br>  #aacaf1 <br> Quarternary Color
    li.sg-swatch.quinary-color<br><br><br><br>  #eae49f <br>  Quinary Color

