extends layout

block content
  a.goback(href="/") Go Back
  h1.primary-color Colors
  ul
    li.primary-color #363535 - Primary Color
    li.sg-label.secondary-color  #a6a271 - Secondary Color
    li.sg-label.tertiary-color #ed5642 - Tertiary Color
    li.sg-label.quarternary-color #aacaf1 - Quarternary Color
    li.sg-label.quinary-color #eae49f - Quinary Color
    li.sg-label.black-color 000000 - Black
    li.sg-swatch ffffff - White
