extends layout

block content
  h1 Fonts
  ul
    li.helvetica Primary font: "Helvetica", sans-serif;
    li.helvetica-italic Primary font italic: "Helvetica", sans-serif;
    li.helvetica-bold Primary font Bold: "Helvetica", sans-serif;
    li.openSans Secondary font: "Open Sans", sans-serif;
    li.openSans-italic Secondary font italic: "Open Sans", sans-serif;
    li.openSans-bold Secondary font Bold: "Open Sans", sans-serif;
