extends layout

block content
  a.goback(href="/") Go Back
  h1.sg-head Fonts

  ul.text
    li.helvetica Primary font: "Helvetica", sans-serif;
    li.helvetica-italic Primary font italic: "Helvetica", sans-serif;
    li.helvetica-bold Primary font Bold: "Helvetica", sans-serif;
    li.openSans Secondary font: "Open Sans", sans-serif;
    li.openSans-italic Secondary font italic: "Open Sans", sans-serif;
    li.openSans-bold Secondary font Bold: "Open Sans", sans-serif;

  h3 CSS

  h4.sub-title Helvetica
  div.jade
    pre font-family: helvetica, sans-serif;
  h4.sub-title Helvetica Italic
  div.jade
    pre font-family: helvetica, sans-serif;
    pre font-style: italic;
  h4.sub-title Helvetica Bold
  div.jade
    pre font-family: helvetica, sans-serif;
    pre font-weight: bold;
  h4.sub-title Open Sans
  div.jade
    pre font-family: 'Open Sans', sans-serif;
  h4.sub-title Open Sans Italic
  div.jade
    pre font-family: 'Open Sans', sans-serif;
    pre font-style: italic;
  h4.sub-title Open Sans Bold;
  div.jade
    pre font-family: 'Open Sans', sans-serif;
    pre font-weight: bold;
