extends layout

block content
  h1 Fonts
  ul
    li.helvetica Primary font: "Helvetica", sans-serif;
    li.helvetica-italic Primary font italic: "Helvetica", sans-serif;
    li.helvetica-bold Primary font Bold: "Helvetica", sans-serif;
    li.openSans Secondary font: "Open Sans", sans-serif;
    li.openSans-italic Secondary font italic: "Open Sans", sans-serif;
    li.openSans-bold Secondary font Bold: "Open Sans", sans-serif;

  h2.title CSS

  h3.sub-title Helvetica
  pre font-family: helvetica, sans-serif;
  h3.sub-title Helvetica Italic
  pre font-family: helvetica, sans-serif;
  pre font-style: italic;
  h3.sub-title Helvetica Bold
  pre font-family: helvetica, sans-serif;
  pre font-weight: bold;
  h3.sub-title Open Sans
  pre font-family: 'Open Sans', sans-serif;
  h3.sub-title Open Sans Italic
  pre font-family: 'Open Sans', sans-serif;
  pre font-style: italic;
  h3.sub-title Open Sans Bold;
  pre font-family: 'Open Sans', sans-serif;
  pre font-weight: bold;
