extends layout

block content
  a.goback(href="/") Go Back
  h1 Heading Level 1
  h2 Heading Level 2
  h3 Heading Level 3
  h4 Heading Level 4
  h5 Heading Level 5
  h6 Heading Level 6

  hr

  h1.title Heading Code-Jade:

  pre h1 Heading Level 1
  pre h2 Heading Level 2
  pre h3 Heading Level 3
  pre h4 Heading Level 4
  pre h5 Heading Level 5
  pre h6 Heading Level 6

  hr

  h1.title Heading Code-CSS:

  pre h1 {
  pre  font-size: 3.998em;
  pre }
  br
  pre h2 {
  pre  font-size: 2.827em;
  pre }
  br
  pre h3 {
  pre  font-size: 1.999em;
  pre }
  br
  pre h4 {
  pre font-size: 1.414em;
  pre }
  br
  pre h5 {
  pre  font-size: 1em;
  pre }
  br
  pre h6 {
  pre   font-size: 0.707em;
  pre }
