extends layout

block content
  h1 Icons

  div.icon-home

  p
    pre @font-face {
    pre font-family: 'icomoon';
    pre src:url('fonts/icomoon.eot?-wlt9f3');
    pre src:url('fonts/icomoon.eot?#iefix-wlt9f3') format('embedded-opentype'),
      pre url('fonts/icomoon.woff?-wlt9f3') format('woff'),
      pre url('fonts/icomoon.ttf?-wlt9f3') format('truetype'),
      pre url('fonts/icomoon.svg?-wlt9f3#icomoon') format('svg');
    pre font-weight: normal;
    pre font-style: normal;
    pre }

    pre [class^="icon-"], [class*=" icon-"] {
      pre font-family: 'icomoon';
      pre speak: none;
      pre font-style: normal;
      pre font-weight: normal;
      pre font-variant: normal;
      pre text-transform: none;
      pre line-height: 1;

      pre /* Better Font Rendering =========== */
      pre -webkit-font-smoothing: antialiased;
      pre -moz-osx-font-smoothing: grayscale;
    pre }

    pre .icon-home:before {
      pre content: "\e600";
    pre }
    pre .icon-quill:before {
      pre content: "\e602";
    pre }
    pre .icon-image:before {
      pre content: "\e604";
    pre }

