extends layout

block content
  a.goback(href="/") Go Back
  h1.sg-head Images
  h2.title Square 1:1
    img.square
  h3.sub-title Code-CSS
  pre Width: 600px;
  pre Height: 600px;
  br
  hr
  br
  h2.title Landscape 4:3
    img.landscape4x3
  h3.sub-title Code-CSS
  pre Width: 600px;
  pre Height: 450px;
  br
  hr
  br
  h2.title Landscape 16:9
    img.landscape16x9
  h3.sub-title Code-CSS
  pre Width: 1280px;
  pre Height: 720px;
