extends layout

block content
  header
    h1.sg-head Style Guide v1.0.1

      h2.index
         a(href='/colors') Colors

      h2.index
         a(href='/fonts') Fonts

      h2.index
         a(href='/headings') Headings

      h2.index
        a(href='/inputfields') Input Fields

      h2.text
        a(href='/lists') Lists

      h2.text
        a(href='/buttons') Buttons

      h2.text
        a(href='/paragraph') Paragraph

      h2.text
        a(href='/images') Images

      h2.text
         a(href='/checkradio') Check/Radio

      h2.text
        a(href='/inline') Inline Elements










