extends layout

block content

  header
    h1 This is a style guide title
    p
       a(href='/blockquote') Block Quotes
    p
       a(href='/checkradio') checkradio
    p
       a(href='/colors') colors
    p
       a(href='/fonts') fonts
    p
       a(href='/headings') headings
    p
      a(href='/icons') icons
    p
      a(href='/images') images
    p
      a(href='/inline') inline
    p
      a(href='/inputfields') inputfields
    p
      a(href='/ordered') ordered
    p
      a(href='/paragraph') paragraph
    p
      a(href='/unordered') unordered









