extends layout

block content
  header
    h1 Style Guide v1.0.1
    br
    p
       a(href='/colors') Colors
    br
    p
       a(href='/fonts') Fonts
    br
    p
       a(href='/headings') Headings
    br
    p
      a(href='/inputfields') Input Fields
    br
    p
      a(href='/lists') Lists
    br
    p
      a(href='/paragraph') Paragraph
    br
    p
      a(href='/images') Images
    br
    p
       a(href='/checkradio') Check/Radio
    br
    p
      a(href='/inline') Inline Elements










