extends layout

block content
  header
    h1.sg-head<br>Style Guide v1.0.1

      h2.index
         a(href='/colors') Colors
      br
      h2.index
         a(href='/fonts') Fonts
      br
      h2.index
         a(href='/headings') Headings
      br
      h2.index
        a(href='/inputfields') Input Fields
      br
      h2.text
        a(href='/lists') Lists
      br
      h2.text
        a(href='/buttons') Buttons
      br
      h2.text
        a(href='/paragraph') Paragraph
      br
      h2.text
        a(href='/images') Images
      br
      h2.text
         a(href='/checkradio') Check/Radio
      br
      h2.text
        a(href='/inline') Inline Elements










