extends layout

block content

  header
    h1 This is a style guide title
    p
       a(href='/blockquote') Block Quotes
    p
       a(href='/checkradio') Check/Radio
    p
       a(href='/colors') Colors
    p
       a(href='/fonts') Fonts
    p
       a(href='/headings') Headings
    p
      a(href='/icons') Icons
    p
      a(href='/images') Images
    p
      a(href='/inline') Inline
    p
      a(href='/inputfields') Input Fields
    p
      a(href='/ordered') Ordered
    p
      a(href='/paragraph') Paragraph
    p
      a(href='/unordered') Unordered









