extends layout

block content
	a.goback(href="/") Go Back

	h1.sg-head Inline Elements

	p
		a(href='#') This is a text link
	br
	p
		strong This is strong text
	br
	p
		em This text is emphasized
	br
	p
		b A "b" element is stylistically different than normal text, without any special importance
	br
	p
		i An "i" element is text that is set off from normal text
	br
	p
		u A "u" element is text with an unarticulated, though explicitly rendered, non-textual annotation
	br
	p
		del This text is deleted
	br
	p
		ins This text is inserted
	br
	p
		s This text has a strikethrough
	br
	p This is an example of superscript
		sup ®
	br
	p This is an example of
		sub subscript
	br
	p
		small This small text is small for for fine print
	br
	p Here's an abbreviation:
		abbr  HTML
	br
	p Here's keyboard input:
		kbd  cd
	br
	p
		samp This is sample output from a computer program
	br
	p This is
		mark  highlighted
	br
	hr

	h3 Inline Elements Code - Jade:
	div.jade
		pre p
		pre   a(href='#') This is a text link
		br
		pre p
		pre   strong This is strong text
		br
		pre p
		pre   em This text is emphasized
		br
		pre p
		pre   b A "b" element is stylistically different than normal text, without any special importance
		br
		pre p
		pre   i An "i" element is text that is set off from normal text
		br
		pre p
		pre   u A "u" element is text with an unarticulated, though explicitly rendered, non-textual annotation
		br
		pre p
		pre   del This text is deleted
		br
		pre p
		pre   ins This text is inserted
		br
		pre p
		pre   s This text has a strikethrough
		br
		pre p This is an example of superscript
		pre     sup ®
		br
		pre p This is an example of
		pre     sub subscript
		br
		pre p
		pre   small This small text is small for for fine print
		br
		pre p Here's an abbreviation:
		pre     abbr HTML
		br
		pre Here's keyboard input:
		pre     kbd cd
		br
		pre p
		pre   samp This is smaple output from a computer program
		br
		pre p This is
		pre     mark  highlighted
