extends layout

block content

	h1 Inline Elements

	p
		a(href='#') This is a text link
	p
		strong This is strong text
	p
		em This text is emphasized
	p
		b A "b" element is stylistically different than normal text, without any special importance
	p
		i An "i" element is text that is set off from normal text
	p
		u A "u" element is text with an unarticulated, though explicitly rendered, non-textual annotation
	p
		del This text is deleted
	p
		ins This text is inserted
	p
		s This text has a strikethrough

	p This is an example of superscript
		sup ®

	p This is an example of
		sub subscript

	p 
		small This small text is small for for fine print

	p Here's an abbreviation:
		abbr  HTML

	p Here's keyboard input:
		kbd  cd

	p
		samp This is smaple output from a computer program

	p This is
		mark  highlighted
	hr

	h2.title Inline Elements Code-Jade:

	pre p
	pre   a(href='#') This is a text link
	pre p
	pre   strong This is strong text
	pre p
	pre   em This text is emphasized
	pre p
	pre   b A "b" element is stylistically different than normal text, without any special importance
	pre p
	pre   i An "i" element is text that is set off from normal text
	pre p
	pre   u A "u" element is text with an unarticulated, though explicitly rendered, non-textual annotation
	pre p
	pre   del This text is deleted
	pre p
	pre   ins This text is inserted
	pre p
	pre   s This text has a strikethrough
	pre p This is an example of superscript
	pre     sup ®
	pre p This is an example of
	pre     sub subscript
	pre p
	pre   small This small text is small for for fine print
	pre p Here's an abbreviation:
	pre     abbr HTML
	pre Here's keyboard input:
	pre     kbd cd
	pre p
	pre   samp This is smaple output from a computer program
	pre p This is
	pre     mark  highlighted



