extends layout

block content
  a.goback(href="/") Go Back
  h1 Input Fields
  h3.sub-title Input
  input
  h3.sub-title Placeholder Text Input
  input(placeholder="Placeholder")
  h3.sub-title Text Area
  textarea
  h3.sub-title Search Input
  input(type="search", name="googlesearch")
  h3.sub-title Required Input
  input(required)

  hr

  h2.title Input Code-Jade:

  pre h3.sub-title Text Input
  pre input
  br
  pre h3.sub-title Placeholder Text Input
  pre input(placeholder="Placeholder")
  br
  pre h3.sub-title Text Area
  pre textarea
  br
  pre h3.sub-title Search Input
  pre input(type="search", name="googlesearch")
  br
  pre h3.sub-title Required Input
  pre input(required)

