extends layout

block content
  h1 Input Fields

  p Text Input
  input
  p Placeholder Text input
  input(placeholder="Placeholder")
  p Text Area
  textarea
  p Search Input
  input(type="search", name="googlesearch")
  P Required Input
  input(required)

  hr

  h1 Jade

  p Text Input
  pre input
  Placeholder Text input
  pre input(placeholder="Placeholder")
  p Text Area
  pre textarea
  p Search Input
  pre input(type="search", name="googlesearch")
  p Required Input
  pre input(required)

