extends layout

block content
  a.goback(href="/") Go Back
  h1.sg-head.list Lists

  h2 Ordered List
  ol.text
    li This is an ordered list item
    li This is an ordered list item
    ol
      li This is a nested ordered list item
      li This is a nested ordered list item

  h2 Unordered List
  ul.text
    li This is an unordered list item
    li This is an unordered list item
    ul
      li This is a nested unordered list item
      li This is a nested unordered list item

  h3 Ordered List Code - Jade
  div.jade
    pre ol
    pre   li This is an ordered list item
    pre   li This is an ordered list item
    pre     ol
    pre       li This is a nested unordered list item
    pre       li This is a nested unordered list item
    hr

  h3 Unordered List Code - Jade
  div.jade
    pre ul
    pre   li This is an ordered list item
    pre   li This is an ordered list item
    pre     ul
    pre       li This is a nested ordered list item
    pre       li This is a nested ordered list item
