extends layout

block content

  h1 Lists

  h2.title Ordered List
  ol
    li This is an ordered list item
    li This is an ordered list item
    ol
      li This is a nested ordered list item
      li This is a nested ordered list item

  h2.title Unordered List
  ul
    li This is an unordered list item
    li This is an unordered list item
    ul
      li This is a nested unordered list item
      li This is a nested unordered list item
  hr

  h2.title Ordered List Code-Jade:
    pre ol
      pre li
      pre li
      pre ol
        pre li
        pre li
  hr

  h2.title Unordered List Code-Jade:
    pre ul
      pre li
      pre li
      pre ul
        pre li
        pre li
