extends layout

block content

  h1.sg-head.list Lists

  h2.title.sg-head Ordered List
  ol.list
    li.list This is an ordered list item
    li.list This is an ordered list item
    ol.list
      li.list This is a nested ordered list item
      li.list This is a nested ordered list item

  h2.title.sg-head.list Unordered List
  ul.list
    li This is an unordered list item
    li This is an unordered list item
    ul
      li This is a nested unordered list item
      li This is a nested unordered list item


  h2.title.sg-head.list Ordered List Code - Jade
    pre.list ol
      pre.list li
      pre.list li
      pre.list ol
        pre.list li
        pre.list li


  h2.title.sg-head Unordered List Code - Jade
    pre.list ul
      pre li
      pre li
      pre ul
        pre li
        pre li
