extends layout

block content
  h1 Lists
  p Ordered List
    ol
      li
      li
      ol
        li
        li
      li
      li
  p Unordered List
    ul
      li
      li
      li
      li
      ul
        li
        li
  hr
  p Unordered List Code
    pre ol
      pre li
      pre li
      pre li
      pre ol
        pre li
        pre li
      pre li
  hr
  p Ordered List Code
    pre ul
      pre li
      pre li
      pre li
      pre li
      pre ul
        pre li
        pre li

