extends layout

block content
  a.goback(href="/") Go Back
  h1 Paragraph
  p
    | This is the ak-47 assault rifle, the preferred weapon of your enemy; and it makes a distinctive sound when fired at you, so remember it. you want a guarantee, buy a toaster. are you feeling lucky punk man's gotta know his limitations. here. put that in your report!" and "i may have found a way out of here. this is my gun, clyde! well, do you have anything to say for yourself? you see, in this world there's two kinds of people, my friend: those with loaded guns and those who dig. you dig. well, do you have anything to say for yourself? well, do you have anything to say for yourself? this is my gun, clyde! ever notice how sometimes you come across somebody you shouldn't have f**ked with? well, i'm that guy. ,
    br
    p
      | Are you feeling lucky punk don't p!ss down my back and tell me it's raining. you see, in this world there's two kinds of people, my friend: those with loaded guns and those who dig. you dig. this is my gun, clyde! dyin' ain't much of a livin', boy. when a naked man's chasing a woman through an alley with a butcher knife and a hard-on, i figure he's not out collecting for the red cross. don't p!ss down my back and tell me it's raining. here. put that in your report!" and "i may have found a way out of here. what you have to ask yourself is, do i feel lucky. well do ya' punk? you see, in this world there's two kinds of people, my friend: those with loaded guns and those who dig. you dig. ever notice how sometimes you come across somebody you shouldn't have f**ked with? well, i'm that guy. ever notice how sometimes you come across somebody you shouldn't have f**ked with? well, i'm that guy. ,
    br
    p
      | When a naked man's chasing a woman through an alley with a butcher knife and a hard-on, i figure he's not out collecting for the red cross. this is the ak-47 assault rifle, the preferred weapon of your enemy; and it makes a distinctive sound when fired at you, so remember it. ever notice how sometimes you come across somebody you shouldn't have f**ked with? well, i'm that guy. this is the ak-47 assault rifle, the preferred weapon of your enemy; and it makes a distinctive sound when fired at you, so remember it. what you have to ask yourself is, do i feel lucky. well do ya' punk? here. put that in your report!" and "i may have found a way out of here. when a naked man's chasing a woman through an alley with a butcher knife and a hard-on, i figure he's not out collecting for the red cross. you want a guarantee, buy a toaster. dyin' ain't much of a livin', boy. don't p!ss down my back and tell me it's raining. you want a guarantee, buy a toaster. this is the ak-47 assault rifle, the preferred weapon of your enemy; and it makes a distinctive sound when fired at you, so remember it.

    hr
    h2.title Paragraph Code:

    pre  p
<<<<<<< HEAD
      pre   | This is the ak-47 assault rifle, the preferred weapon of your enemy; and it makes a distinctive sound when fired at you, so remember it.



=======
      pre  | This is the ak-47 assault rifle, the preferred weapon of your enemy; and it makes a distinctive sound when fired at you, so remember it.
>>>>>>> cee896d9ca60f9caaeaedb1c2b091be820509525
