extends layout

block content
  h1 Paragraph
  p Dyin' ain't much of a livin', boy. well, do you have anything to say for yourself? you want a guarantee, buy a toaster. man's gotta know his limitations. here. put that in your report!" and "i may have found a way out of here. don't p!ss down my back and tell me it's raining. don't p!ss down my back and tell me it's raining. man's gotta know his limitations. are you feeling lucky punk you see, in this world there's two kinds of people, my friend: those with loaded guns and those who dig. you dig. man's gotta know his limitations. you want a guarantee, buy a toaster.



