.primary-color {
  color: $primary-font;
 }

.secondary-color {
  color: $secondary-color
 }

.tertiary-color {
  color: $tertiary-color
 }

.quarternary-color {
  color: $quarternary-color
 }

.quinary-color {
  color: $quinary-color
 }

.sg-swatch {
  width: 100%;
  height: 4em;
  margin-bottom: 0.2em;
  background-color: $primary-color;
}

.sg-label {
 line-height: 1;
}

