.primary-color {
  background-color: $primary-color;
  color: white;
 }

.secondary-color {
  background-color: $secondary-color
 }

.tertiary-color {
  background-color: $tertiary-color
 }

.quarternary-color {
  background-color: $quarternary-color
 }

.quinary-color {
  background-color: $quinary-color
 }

//  .primary-dark {
//   background-color: $primary-dark;
//  }

//  .secondary-dark {
//   background-color: $secondary-dark;

// }

// .bright {
//  background-color: $bright;

// }

.sg-swatch {
  float: left;
  width: 10em;
  height: 9em;
  margin-bottom: 0.2em;
  margin-left: 1em;
}



