//Fonts//
$primary-font: helvetica, sans-serif;
$secondary-font:'Open Sans', sans-serif;

//Site Colors//
$primary-color: #363535;
$secondary-color: #a6a271;
$tertiary-color: #ed5642;
$quarternary-color: #aacaf1;
$quinary-color: #eae49f;
$primary-dark: #0e0e0e;
$secondary-dark: #363824;
$bright: #fff600;

//Button Colors//
$primary-button: #ed5642;
$secondary-button: #aacaf1;
