<<<<<<< HEAD



=======
$primary-font: helvetica, sans-serif;
$secondary-font:'Open Sans', sans-serif;
// $primary-color:
// $secondary-color:
// $tertiary-color:
// $base-font-dark-color:
// $base-font-light-color:
// $body-light:
// $body-dark:
// $button:
// $link:
// mixin
@mixin spacer() {
  padding: 5px 0 15px 0;
}
// placeholder
%aside-padding {
  padding-top: 1rem;
}
>>>>>>> 1d6f336f9f28288cc94a881904df94a5a5f122b1
