html {
  margin: 20px 20px;
 }

.center {
  text-align: center;
}

.goback {
  text-align: right;
  display: block;
  right: 1rem;
  position: fixed;
}

.sg-colors {
  border: 4em;
  text-align: center;
  border-top: 3em;

}

.sg-label {
 line-height: 1;
}


.sg-head {
  border-bottom: 1px solid black;
  margin-bottom: 1em;
  text-align: left;
}

.layout {
  margin: 1em, 1em, 1em, 1em;
}

