h1 {
  font-size: 3.998rem;
  padding-bottom: 3rem;
}

h2 {
  font-size: 2.827rem;
  padding-bottom: 2rem;
}

h3 {
  font-size: 1.999rem;
  padding-bottom: 1rem;
}

h4 {
  font-size: 1.414rem;
  padding-bottom: 1rem;
}

h5 {
  font-size: 1rem;
  padding-bottom: 0.8rem;
}

h6 {
  font-size: 0.707rem;
  padding-bottom: 0.5rem;
}


h1, h2, h3, h4, h5, h6 {
  font: $primary-font;
}

.helvetica {
  font-family: $primary-font;
  &-italic {
    font-style: italic;
  }
  &-bold {
    font-weight: bold;
  }
}

.openSans {
  font-family: $secondary-font;
  &-italic {
    font-style: italic;
  }
  &-bold {
    font-weight: bold;
  }
}

.title {
  font-size: 3rem;
  padding: 2rem 0;
}

.sub-title {
  font-size: 1.6rem;
  padding-top: 1.6rem;
  padding-bottom: 1rem;
}
