h1 {
  font-size: 3.998rem;
  padding-bottom: 3rem;
}

h2 {
  font-size: 2.827rem;

}

h3 {
  font-size: 1.999rem;

}

h4 {
  font-size: 1.414rem;
}

h5 {
  font-size: 1rem;
  padding-bottom: 0.8rem;
}

h6 {
  font-size: 0.707rem;
  padding-bottom: 0.5rem;
}


h1, h2, h3, h4, h5, h6 {
  font: $primary-font;
  text-decoration: none;
}

a {
  text-decoration: none;

  color: black;

}



.helvetica {
  font-family: $primary-font;
  &-italic {
    font-style: italic;
  }
  &-bold {
    font-weight: bold;
  }
}

.openSans {
  font-family: $secondary-font;
  &-italic {
    font-style: italic;
  }
  &-bold {
    font-weight: bold;
  }
}

.title {
  font-size: 3rem;
  padding: 2rem 0;
}

.sub-title {
  font-size: 1.6rem;
  padding-top: 1.6rem;
  padding-bottom: 0.5rem;
}

.text {
  font: $primary-font;
  font-size: 1rem;
  padding: 1rem;

}

.list {
  font-size: 4rem;
  margin: 1rem;

}

.index {
  font: $primary-font;
  font-size: 1rem;
  padding: 1rem;
  color: black;


}

.sg-swatch {
  float: left;
  width: 10em;
  height: 9em;
  margin-bottom: 0.2em;
  margin-left: 1em;
  text-decoration: none;
  list-style-type: none;
}
